img{ 

    border-radius: 70px;
    width:200px ;
    height:200px ;
}
button{
    color: rgb(0, 0, 0);
    background-color: rgb(34, 206, 0);
}
hr{
height: 10px;
    background-color: rgb(0, 255, 64);
}
#cor{
    background-color: black;
}
#mar{

    width:400px ;
    height:400px ;
}